/**/
/*Шрифты*/
@import 'https://fonts.googleapis.com/css2?family=Neucha&display=swap';
/*
font-family: "Neucha", cursive;  
font-weight: 400;  font-style: normal;
*/

@import 'https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap';
/*
font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
*/

@import 'https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap';
/*
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

 
/*Основные сведения---------------------------------------------------------------*/

text1 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text1>.te1 {
    width: 726px;
    float: right;
}

text1 span {
    font-size: 40px;
    
}

text1 p {
    font-size: 25px;
    
}

/*Конец основные сведения-------------------------------------------------------------*/




tabl>table tr td a {
    font-size: 1.9em;
    color: #000000;
    font-family: "Mulish", sans-serif;
}

tabl>table tr td {
    border-bottom: 2px solid #dadada;
    
}



tabl {
    border-left: 2px solid #000000;
    max-width: 450px;
    float: left;
    width: 40%;
    
    
}

/*Календарь----------------------------------------------------------------*/

calen {
     
    display: flex;
    float: right;
    width: 40%;

}

iframe {
    width: 450px;
}




/*Конец Календарь----------------------------------------------------------------*/

/*Структура и органы управления образовательной организацией----------------------------------------------------------------*/

text2 {
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;
}

text2>.dropdown {
    width: 726px;
    float: right;
}

.dropdown>span {
    font-size: 40px;
}

.dropdown>table tr td {
    border: 2px solid #000;
    border-radius: 20px;
    
}

.dropdown>table tr td img {
    float: left;
    margin-left: 1%;
    margin-top: 15px; 
    margin-bottom: 15px;
}

.dropdown>table tr td p {
    float: left;
    margin-left: 10px;
    max-width: 75%;
    
}

.dropdown>table tr td p b {
    font-size: 1.4em;
    font-family: "Mulish", sans-serif;
}

.dropdown>table tr td p {
    font-size: 1.3em;
    font-family: "Roboto Serif", serif;
}

.der {
    background-color: #d2f6048b;
}

/*Конец Структура и органы управления образовательной организацией----------------------------------------------------------------*/

/*Образование----------------------------------------------------------------*/

text4 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text4>.te4 {
    width: 726px;
    float: right;
}

text4 span {
    font-size: 40px;
    
}

text4 p {
    font-size: 25px;
    
}

.te4 ul {
    margin-left: 30px;
    font-size: 24px;
}

/*Конец Образование----------------------------------------------------------------*/

/*Образовательные стандарты----------------------------------------------------------------*/

text5 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text5>.te5 {
    width: 726px;
    float: right;
}

text5 span {
    font-size: 40px;
    
}

text5 p {
    font-size: 25px;
    
}

/*Конец Образовательные стандарты----------------------------------------------------------------*/

/*Педагогический состав----------------------------------------------------------------*/

text6 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text6>.te6 {
    width: 726px;
    float: right;
}

text6 span {
    font-size: 40px;
    
}

text6 p {
    font-size: 25px;    
}



.te6 table caption span {
    font-size: 22px;
}

.te6 table tr td {
    background-color: #d2f6048b;
    font-size: 20px;
}



.te6>.pedad>span {
    font-size: 22px;
    text-align: center;
    margin: auto;
}

/*Конец Педагогический состав----------------------------------------------------------------*/

/*Материально-техническое обеспечение----------------------------------------------------------------*/

text7 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text7>.te7 {
    width: 726px;
    float: right;
}

text7 span {
    font-size: 40px;
    
}

text7 p {
    font-size: 25px;
    
}

/*Конец Материально-техническое обеспечение----------------------------------------------------------------*/

/*Стипендии----------------------------------------------------------------*/

text8 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text8>.te8 {
    width: 726px;
    float: right;
}

text8 span {
    font-size: 40px;
    
}

text8 p {
    font-size: 25px;
    
}

/*Конец Стипендии----------------------------------------------------------------*/

/*Платное----------------------------------------------------------------*/

text9 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text9>.te9 {
    width: 726px;
    float: right;
}

text9 span {
    font-size: 40px;
    
}

text9 p {
    font-size: 25px;
    
}

.te9 img {
    width: 360px;
    height: 450px;
}

.te9 table tr td {
    font-size: 20px;
    background-color: #d2f6048b;
}



/*Конец Платное----------------------------------------------------------------*/

/*Финансово-хозяйственная деятельность----------------------------------------------------------------*/

text10 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text10>.te10 {
    width: 726px;
    float: right;
}

text10 span {
    font-size: 40px;
    
}

text10 p {
    font-size: 25px;
    
}

text10 ol {
    font-size: 30px;
    margin-left: 30px;
}

/*Финансово-хозяйственная деятельность папка----------------------------------------------------------------*/

st1 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

st1>.S1 {
    width: 726px;
    float: right;
}

st1 span {
    font-size: 40px;
    
}

st1 p {
    font-size: 25px;
    
}

st1 a {
    font-size: 25px;
}

/*Конец Финансово-хозяйственная деятельность----------------------------------------------------------------*/

/*Вакантные места для приемов обучающихся------------------------------------------------------------------------------*/

text11 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text11>.te11 {
    width: 726px;
    float: right;
}

text11 span {
    font-size: 40px;
    
}

text11 p {
    font-size: 25px;
    
}

text11 ol {
    font-size: 30px;
    margin-left: 30px;
}

/*Вакантные места для приемов обучающихся папка------------------------------------------------------------------------------*/

st2 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

st2>.S2 {
    width: 726px;
    float: right;
}

st2 span {
    font-size: 40px;
    
}

st2 p {
    font-size: 25px;
    
}

st2 a {
    font-size: 25px;
}

st2 table caption {
    font-size: 22px;
}

st2 table tr td {
    background-color: #d2f6048b;
    font-size: 20px;
}


/*Конец Вакантные места для приемов обучающихся------------------------------------------------------------------------------*/

/*Доступная среда------------------------------------------------------------------------------*/

text12 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text12>.te12 {
    width: 726px;
    float: right;
}

text12 span {
    font-size: 40px;
    
}

text12 p {
    font-size: 25px;
    
}

.te12 a {
    font-size: 25px;
}

/*Конец доступная среда------------------------------------------------------------------------------*/

/*Международное сотрудничество------------------------------------------------------------------------------*/

text13 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text13>.te13 {
    width: 726px;
    float: right;
}

text13 span {
    font-size: 40px;
    
}

text13 p {
    font-size: 25px;
    
}

/*Конец Международное сотрудничество----------------------------------------------------------------*/