/**/
/*Шрифты*/
@import 'https://fonts.googleapis.com/css2?family=Neucha&display=swap';
/*
font-family: "Neucha", cursive;  
font-weight: 400;  font-style: normal;
*/

@import 'https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap';
/*
font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
*/

@import 'https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap';
/*
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

 





tabl>table tr td a {
    font-size: 1.9em;
    color: #000000;
    font-family: "Mulish", sans-serif;
}

tabl>table tr td {
    border-bottom: 2px solid #dadada;
    
}



tabl {
    border-left: 2px solid #000000;
    max-width: 450px;
    float: left;
    width: 40%;
    
    
}

/*Календарь----------------------------------------------------------------*/

calen {
     
    display: flex;
    float: right;
    width: 40%;

}

iframe {
    width: 450px;
}




/*Конец Календарь----------------------------------------------------------------*/

/*Записаться в школу----------------------------------------------------------------*/

text1 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif; 

}

text1>.te1 {
    width: 726px;
    float: right; 
}

text1 span {
    font-size: 40px;
    
}

text1 p {
    font-size: 25px;
    
}

.te1 a {
    font-size: 25px;
}

/*----------------------------------------------------------------*/

st1 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

st1>.S1 {
    width: 726px;
    float: right;
}

st1 span {
    font-size: 40px;
    
}

st1 p {
    font-size: 25px;
    
}

.S1 a {
    font-size: 25px;
}

/*Конец Записаться в школу----------------------------------------------------------------*/

/*Написать нам----------------------------------------------------------------*/

text2 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text2>.te2 {
    width: 726px;
    float: right;
}

text2 span {
    font-size: 40px;
    
}

text2 p {
    font-size: 25px;
    
}

.te2 a {
    font-size: 25px;
}

/*----------------------------------------------------------------*/

.input {
    font-size: 28px;
    width: 450px;
    font-family: "Roboto Serif", serif;
}


.te2 textarea {
    font-size: 25px;
    width: 450px;
    height: 250px;
    resize: none;
    font-family: "Roboto Serif", serif;

}

.button {
    font-size: 24px;
    font-family: "Roboto Serif", serif;
    padding: 10px;
    border-radius: 8px;
    background: #f77e7e;
    cursor: pointer;
}

.button2 {
    font-size: 20px;
    font-family: "Roboto Serif", serif;
    padding: 8px;
    border-radius: 8px;
    background: #ddeeb0;
    cursor: pointer;
}

.input2 {
    font-size: 24px;
    width: 450px;
    height: 250px;
}

.te2 dialog {
    padding: 30px;
    background: #eee2e2;
    border-radius: 20px;
    border: 1px solid #000000;
    position: absolute;
        top:  50%;
        left: 50%;
        transform: translate(-50%,-50%);
}

/*Конец Написать нам----------------------------------------------------------------*/

/*Расписание занятий----------------------------------------------------------------*/

text3 { 
    float: left;
    width: 60%;
    font-family: "Roboto Serif", serif;

}

text3>.te3 {
    width: 726px;
    float: right;
}

text3 span {
    font-size: 40px;
    
}

text3 p {
    font-size: 25px;
    
}

.te3 a {
    font-size: 25px;
}

/*Конец Расписание занятий----------------------------------------------------------------*/

